# Add a listener on port 8080
Listener {
    -port 30009
}

# Include jQuery and Icons
/jquery/ {
    domain JQ
}

/icons/ {
    domain Icons
}

# Proxy for 'fossil http'
/repos {
    domain FossilProxy
    prefix /repos
    fossil_dir $::wubfossilpath
    fossil_command $::wubfossilpath/fossil
    repositories_list_body {
<h2>Tcl/Tk repositories mirror</h2>
The following repositories are mirrored from <a href='http://core.tcl.tk'>http://core.tcl.tk</a>:
%REPOS%
They are updated every 15 minutes.}
}

