# Add a listener on port 8080
Listener {
    -port 8080
}

# Add a Direct domain under /object
/object/ {
    domain Direct
    object $oodomain
}

# Include jQuery and Icons
/jquery/ {
    domain JQ
}

/icons/ {
    domain Icons
}

# Javascript, CSS and image File domains used in tests
/css/ {
    domain File
    root docroot/css
}

/images/ {
    domain File
    root docroot/images
}

/scripts/ {
    domain File
    root docroot/scripts
}
