# Add a listener on port 8080
Listener {
    -port 8080
}

# Add a Direct domain under /object
/object/ {
    domain Direct
    object $oodomain
}

recaptcha {
    domain ReCAPTCHA
    url /rc/
    public 6Lea0AoAAAAAAK0_DnzVgwAFSXGnitLyAckdbUu-
    private 6Lea0AoAAAAAACAU-bJLIwphCzW9UKQITclaO4IS
}
