# Add a listener on port 8080
Listener {
    -port 8080
}

# Add a File domain for files in directory docroot/html
/html/ {
    domain File
    root docroot/html
}

# Add a file domain to browse the file system
/disk/  { ;# Start from url /disk
    domain File 
    root /      ;# Mount File domain on root of file system
    nodir 0     ;# Allow browsing
}

# Redirect / to /html/index.html
/ {
    redirect /html/index.html
}

# Rewrite URL's of form /*.html to /html/*.html using a regular expression
htmlrewrite {
    url {^//[^/]+/[^/]+[.](html)$}
    rewrite {/html/[Url tail [dict get $r -path]]}
}
