# Add a listener on port 8080
Listener {
    -port 8080
}

# Add a File domain for files in directory docroot/html
html {
    url /html/
    domain File
    root docroot/html
}

# Add a file domain to browse the file system
disk {
    url /disk/  ;# Start from url /disk
    domain File 
    root /      ;# Mount File domain on root of file system
    nodir 0     ;# Allow browsing
}

# Rewrite URL's of form /*.html to /html/*.html
htmlrewrite {
    url {^//[^/]+/[^/]+[.](html)$}
    rewrite {/html/[Url tail [dict get $r -path]]}
}
