# Add a listener on port 8080
Listener {
    -port 8080
}

# Add a Direct domain under /namespace, based on namespaces 
/namespace/ {
    domain Direct
    namespace MyDirectDomain
}

# Add a Direct domain under /objecft, base on TclOO objects
/object/ {
    domain Direct
    object $oodomain
}

# Images, Javascript and CSS File domain used in some tests
/css/ {
    domain File
    root docroot/css
}

/scripts/ {
    domain File
    root docroot/scripts
}

/images/ {
    domain File
    root docroot/images
}
