# Add a listener on port 8080
Listener {
    -port 8080
}

# Add a File domain for files in directory docroot/html
/namespace/ {
    domain Direct
    namespace MyDirectDomain
}

# Add a File domain for files in directory docroot/html
/object/ {
    domain Direct
    object $oodomain
}

# Images, Javascript and CSS File domain used in some tests
/css/ {
    domain File
    root docroot/css
}

/scripts/ {
    domain File
    root docroot/scripts
}

/images/ {
    domain File
    root docroot/images
}
